*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased !important;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.boxes--team {
  .grid-item {
    width: 32%;
  }
}

body {
  font-family: $font-family-serif;
  color: #fff;
  background: #0d1014;
  background-repeat: no-repeat;
  background-size: cover;
}

/*$blue:    #32c5ef;
$red:   #ff1e00;
$yellow: #f9c041*/

a {
  text-decoration: none;
}

a:hover {}

/* custom */

.container {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.container,
body,
html {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  overflow-y: scroll;
}

/* Header nav */
#root .draft-nav {
  background: none;
  padding: 8px;
  margin-bottom: 0;
  position: relative;
  z-index: 1000;
  margin-bottom: -50px;

  .home-icon {
    padding: 5px 2px 1px;
    margin: 0 4px 0 0;
    width: 30px;
  }

  .item {
    border: none;
    color: $black;
    padding: 8px 12px;
    background: darken(white, 10%);

    &.active {
      background: $brand-primary;
      color: white;
    }

    &.logout {
      background: none;
      color: $red;
    }
  }
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
}

.splitlayout {
  position: relative;
  overflow-x: hidden;
  min-height: 100%;
  width: 100%;
}

.side {
  position: fixed;
  z-index: 100;
  width: 50%;
}

.open-left .side,
.open-right .side {
  cursor: default;
}

[role=button],
[type=button],
[type=reset],
[type=submit],
button {
  cursor: pointer;
}

.overlay {
  position: absolute;
  left: 0;
  z-index: 499;
  width: 100%;
  opacity: 0;
}

.overlay,
.side {
  top: 0;
  height: 100%;
}

.side-left .overlay,
.side-right .overlay {
  background: 0 0;
}

.side-left {
  left: 0;
  background: #fff;
  color: #0d1014;
}

.side-left h1 a {
  color: #141a1e;
}

.side-right h1 a {
  color: white;
}

.side-right {
  right: 0;
  background: rgba(255, 255, 255, 0);
  color: #fff;
  background: url("../assets/draft-bg.jpg") #0d1014;
  background-size: cover;
  background-position: 100% 0;
  background-repeat: no-repeat;
}

.side-right .intro-content h1 a > span:nth-child(2) {
  color: #f9c041;
}

.side-left .intro-content h1 a > span:nth-child(2) {
  color: #0c91ba;
}

.intro-content {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0 1em;
  width: 70%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.open-left .intro-content,
.open-right .intro-content {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 75%;
  padding: 0 1em;
  width: 30%;
  cursor: pointer;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.intro-content {
  text-align: center;
}

.profile {
  margin: 0 auto;
  max-width: 70%;
  max-height: 200px;
  text-align: center;
}

.profile img {
  max-width: 100%;
}

.intro-content h1 a > span {
  display: block;
}

.intro-content h1 a > span:first-child {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 3px;
  font-family: $font-family-serif;
  text-transform: uppercase;
  margin-bottom: 0.4em;
}

.intro-content h1 a > span:nth-child(2) {
  position: relative;
  margin-top: .5em;
  padding: .8em;
  letter-spacing: 4px;
  font-size: 9px;
  text-transform: uppercase;
}

.intro-content h1 a > span:nth-child(2):before {
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 2px;
  background: #67cde8;
  content: "";
}

.side-right .intro-content h1 a > span:nth-child(2):before {
  background: #f9c041;
}

.back {
  position: fixed;
  top: 20px;
  z-index: 500;
  display: block;
  width: 45px;
  height: 50px;
  border-radius: 50%;
  color: #ddd;
  font-size: 22px;
  line-height: 44px;
  opacity: 0;
  pointer-events: none;
}

.page,
.page-left {
  top: 0;
  min-height: 100%;
}

.close-left .side-left,
.close-right .side-right,
.open-left .side-left {
  z-index: 200;
}

.container-fluid::after,
.container::after,
.row::after {
  content: "";
  display: table;
  clear: both;
}

.mobile-layout .back {
  position: absolute;
}

.back-left {
  left: 0;
  -webkit-transform: translateX(-5%);
  transform: translateX(-5%);
}

.back-right {
  right: 0;
  -webkit-transform: translateX(5%);
  transform: translateX(5%);
  color: #c3cbcd;
}

.open-left .back-right,
.open-right .back-left {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
  pointer-events: auto;
}

.back:hover {
  color: #f9c041;
  text-decoration: none;
}

.page {
  position: relative;
  overflow: auto;
  width: 96%;
  height: auto;
  font-size: 1.4em;
}

.page-right {
  left: 3%;
  color: #0c1014;
  -webkit-transform: translateX(120%);
  transform: translateX(120%);
}

.page-left {
  position: absolute;
  left: 0;
  background: #fff;
  color: #55595c;
  text-align: right;
  -webkit-transform: translateX(-90%);
  transform: translateX(-90%);
}

caption,
th {
  text-align: left;
}

.page-left .page-inner {
  width: 65%;
  max-width: 600px;
  margin: 20% auto;
}

.page-inner {
  padding: 10px;
}

.page-inner h2 {
  margin: 0 0 1em;
  font-weight: 300;
  font-size: 2.4em;
}

@media screen and (min-width: 768px) {
  .profile {
    max-width: 140px;
  }

  .intro-content h1 a > span {
    display: block;
    white-space: nowrap;
  }

  .intro-content h1 a > span:first-child {
    font-size: 38px;
  }

  .intro-content h1 a > span:nth-child(2) {
    font-size: .45em;
  }
}

/* Log In on Main Screen */
.login {
  min-height: 100%;
  width: 100%;
  background: white;
  padding: 30px;
  background-image: url("../assets/welcome-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;

  h3 {
    margin-bottom: 0.8em;
  }
}

.login .inner-wrapper {
  max-width: 700px;
  margin: 4% auto;
  color: $black;
  text-align: center;

  .main-icon {
    max-width: 410px;
    margin: 0.5em auto;
  }

  img {
    max-width: 100%;
  }

  h2 {
    font-family: $font-family-sans-serif;
  }

  p {
    font-family: $font-family-serif;
    font-size: 18px;
    line-height: 1.45em;
    small {
      font-family: $font-family-sans-serif;
      max-width: 560px;
      line-height: 1.4em;
      display: block;
      margin: 0.5em auto;
    }
  }

  form {
    max-width: 400px;
    margin: 0.5em auto;
  }

  .field {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .field > input {
    font-family: $font-family-serif;
    font-size: 18px !important;
    height: 55px !important;
    margin: 0em;
    outline: none;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255, 255, 255, 0);
    line-height: 1.21428571em;
    padding: 0.67857143em 1em;
    font-size: 1em;
    background: #FFFFFF;
    border: 1px solid $black;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
    box-shadow: 0em 0em 0em 0em transparent inset;
    -webkit-transition: color 0.1s ease, border-color 0.1s ease;
    transition: color 0.1s ease, border-color 0.1s ease;
  }

  .field > label {
    color: lighten($text-color, 20%);
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-family: $font-family-sans-serif;
    font-weight: 300;
    margin-bottom: 12px;
  }

}

@media screen and (min-width: 1400px) {
  .grid-item {
    height: 135px;
  }

  .grid-item.grid-item-width4 h4 {
    font-size: 45px;
  }

  .login .inner-wrapper {
    p {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 1500px) {

  .grid-item {
    height: 175px;
  }

  .grid-item.grid-item-width4 h4 {
    font-size: 55px;
  }

  .money-info h4 {
    font-size: 55px;
  }

  .manager-name {
    font-size: 45px;
  }
}
