/* Manager Drafting Section: Dropdown + Prices */
/* Player Search Form */

/* MANAGER */

.manager, .drafted-players, .manager-wrapper {
  min-height: 100%;
  width: 100%;
  background: white;
  padding: 30px;

  h3 {
    margin-bottom: 0.8em;
  }
}

.manager .inner-wrapper, .manager-wrapper .inner-wrapper {
  max-width: 450px;
  margin: 7% auto;
}

.manager h1, .manager-wrapper h1 {
  text-align: center;
  color: $black;
  letter-spacing: 3px;
  font-family: $font-family-serif;
  text-transform: uppercase;
  margin-top: 10px;
}

.manager .inner-wrapper img.center {
  display: block;
  margin: 0 auto;
}

.manager .fields {
  margin-top: 10px;
  margin-bottom: 10px;
}

.manager .field {
  margin-bottom: 10px!important;
  margin-top: 10px!important;
}

.manager .ui.form input {
  padding: 0.65em 0.5em;
}

.manager .ui.form .field > label {
  color: lighten($text-color, 20%);
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-family: $font-family-sans-serif;
  font-weight: 300;
  margin-bottom: 12px;
}

.manager .ui.labeled.input > .label:not(.corner) {
  color: white;
  font-size: 18px;
  font-weight: bold;
  background: $brand-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5833em;
}

.add-player .ui.form .search .icon {
  position: absolute;
  right: 8px;
  top: 12px;
  color: #7ebae0;
}

.find-players {
  font-family: $font-family-sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.add-player .easy-autocomplete-container {
  /*background:white;*/
  background: #0c91ba;
  font-family: $font-family-sans-serif;
  color: white;
  font-weight: 500;
  font-size: 16px;
  position: absolute;
  z-index: 100;
  width: 100%;
}

.add-player .easy-autocomplete-container ul,
.add-player .easy-autocomplete-container li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.add-player .easy-autocomplete-container li {
  padding: 15px;
  border-bottom: 1px solid #d4e3e8;
  color: white;
  cursor: pointer;
}

.add-player .easy-autocomplete-container li b {
  color: #f1c910;
}

.add-player .ui.form .dropdown select,
.add-player .ui.form .dropdown .text,
.add-player .ui.form .dropdown .item {
  font-family: $font-family-sans-serif;
  color: $black;
  font-weight: 500;
  font-size: 16px;
}

.add-player .ui.form .dropdown {
  padding: .67857143em 1em;
}

.manager .button {
  margin-top: 35px;
  padding: 13px 15px;
  font-size: 20px !important;
  height: 55px;
}

/* Dropdown Menu */

input.rbt-input, .rbt-input-hint, .custom-select, input[type="number"], .manager-wrapper input {
  font-family: $font-family-serif;
  font-size: 18px !important;
  height: 55px !important;
}

.rbt-input-hint-container:after {
  content: '';
  display: block;
  width: 28px;
  height: 28px;
  background: url("../assets/search-icon.svg");
  background-repeat: no-repeat;
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -14px;
}

.rbt-menu.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  font-family: $font-family-serif;
}

.dropdown-menu > li > a {
  display: block;
  padding: 5px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: $text-color;
  white-space: nowrap;
  font-size: 18px;
}

.rbt-menu.dropdown-menu .rbt-highlight-text {
  color: $brand-primary !important;
}

.custom-select {
  margin: 0;
  outline: 0;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255, 255, 255, 0);
  line-height: 1.35em;
  padding: 13px 15px;
  font-size: 1em;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: .28571429rem;
  -webkit-box-shadow: 0 0 0 0 transparent inset;
  box-shadow: 0 0 0 0 transparent inset;
  -webkit-transition: color .1s ease,border-color .1s ease;
  -o-transition: color .1s ease,border-color .1s ease;
  transition: color .1s ease,border-color .1s ease;
}

.manager .rbt-sr-status {
  display: none;
}

.manager .search {
  margin-bottom: 20px;
}

/* Team Manager */
.manager .team-manager {
  margin-top: 3%;
}

.single-team-card {
  padding-top: 6px!important;
  padding-bottom: 6px!important;
  font-size: 16px;
  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }

  .team-inner {
    background: $black;
    color: $body-bg;
    border-radius: 3px;
    padding: 14px 12px;
  }
  .delete-btn {
    cursor: pointer;
    float: right;
    color: $red; 
    display: block;
    padding: 4px;
  }
}

/* Drafted Players */
#root .drafted-players
{
  padding-top: 70px;

  @media screen and (max-width: 767px) {
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 3px;
  }

  .board-wrapper {
    .column.single-player {


      color: $black;
      font-size: 16px;
      margin: 5px 0!important;
      padding: 0 12px!important;

      .ui.grid {
        padding: 7px;
        margin: 4px;
        background: lighten($brand-primary, 43%);
        border-radius: 3px;
      }

      span {
        font-family: $font-family-sans-serif;
        color: lighten($black, 35%);
      }

      @media screen and (max-width: 767px) {
        margin: 5px 0!important;

        .ui.grid {
          padding: 4px;
        }
      }
    }
  }

}

@media screen and (min-width: 768px) {
  .manager h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 1200px) {
}
